body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.song-card {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 5px rgb(0, 0, 0, 0.25);  /* these are pameters */
    transition: box-shadow 200ms;
}

.song-card:hover {
    box-shadow: 0px 6px 30px rgb(0, 0, 0, 0.35); 
}

.song-card:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: linear-gradient(to top, black 0%, transparent 400%);
}

.song-card .song-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-card .song-card-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 5;
}

.song-card-artist {
    font-size: 1em;
    font-weight: bold;
    list-style: 1.2em;
}